<section id="projects">
  <div class="portfolio">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 project-card">
        <img src="https://dl.dropboxusercontent.com/s/wzzlmjc1sjhplrt/text_adventure.png?dl=0" alt="Text Adventure Page" class="project-image"/>
        <div class="project_images_overlay text-center">
          <h6>Text Adventure</h6>
          <p class="project-description">JavaScript, CSS, jQuery</p>
          <a href="https://kftwotwo.github.io/group-text-adventure/" class="btn btn-primary">Play it!</a>
          <a href="https://github.com/kftwotwo/group-text-adventure" class="btn btn-success">View Source</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 project-card">
        <img src="https://dl.dropboxusercontent.com/s/f2ujh0zdjc3qf47/bummi-bear-kingdom.png?dl=0" alt="Gummi Bear King Page" class="project-image"/>
        <div class="project_images_overlay text-center">
          <h6>Gummi Bear Kingdom</h6>
          <p class="project-description">Ruby on Rails, CSS</p>
          <a href="https://gummi-bear-kingdom-kevin.herokuapp.com/" class="btn btn-primary">View Live</a>
          <a href="https://github.com/kftwotwo/gummi-bear-kingdom" class="btn btn-success">View Source</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 project-card">
        <img src="https://dl.dropboxusercontent.com/s/f6pfn4eq8wdbc9o/code_notes.png?dl=0" alt="Code Notes Page" class="project-image"/>
        <div class="project_images_overlay text-center">
          <h6>Code Notes</h6>
          <p class="project-description">Ruby, JavaScript, OAuth</p>
          <a href="http://code-note-kevin.herokuapp.com/" class="btn btn-primary">View Live</a>
          <a href="https://github.com/DiegoSPB/coding_notes" class="btn btn-success">View Source</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 project-card">
        <img src="https://dl.dropboxusercontent.com/s/gjwsvy0vrope9ql/coming_soon.png?dl=0" alt="Coming Soon" class="project-image"/>
        <div class="project_images_overlay text-center">
          <h6>Billtracker</h6>
          <p class="project-description">Ruby on Rails, CoffeeScript</p>
          <a href="https://github.com/kftwotwo/billtracker" class="btn btn-success">View Source</a>
        </div>
      </div>
    </div>
  </div>
</section>
