<section id="contact" class="content-section text-center">
  <div class="contact-section">
    <div class="container">
      <h2>Contact Me</h2>
      <p>Feel free to shout me a message by filling out the contact form.</p>
      <div class="row">
        <%= render('static_pages/form') %>
        <hr>
      </div>
    </div>
  </div>
</section>
