<section id="intro">
  <div class="center-text">
    <h5>Welcome To My Site!</h5>
    <h1>It's Nice To Meet You</h1>
  </div>
</section>

<section id="about" class="container">
  <div class="col-lg-12">
    <h1>Kevin Finley</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum tempor rutrum. Praesent gravida in dui sit amet lacinia. Proin vehicula risus turpis, quis posuere arcu fermentum in. Curabitur malesuada, mauris a dictum efficitur, nunc mi auctor lectus, ac porttitor nibh lectus quis magna. Vestibulum volutpat massa sed sem varius, laoreet tempor neque ornare. In viverra commodo ex, nec tincidunt diam. Cras nec ipsum nec libero mollis gravida.
    </p>
  </div>
</section>

<%= render('static_pages/time-line') %>

<section id="about" class="container">
  <div class="col-lg-12">
    <h1>Kevin Finley</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum tempor rutrum. Praesent gravida in dui sit amet lacinia. Proin vehicula risus turpis, quis posuere arcu fermentum in. Curabitur malesuada, mauris a dictum efficitur, nunc mi auctor lectus, ac porttitor nibh lectus quis magna. Vestibulum volutpat massa sed sem varius, laoreet tempor neque ornare. In viverra commodo ex, nec tincidunt diam. Cras nec ipsum nec libero mollis gravida.
    </p>
  </div>
</section>


<%= render('static_pages/projects') %>

<section id="contact">
  <div class="contact-section">
    <div class="container text-center">
      <h2>Contact Me</h2>
      <p>Feel free to shout me a message by filling out the contact form.</p>
      <div class="row">
        <%= render('static_pages/form') %>
        <hr>
      </div>
    </div>
  </div>
</section>
