<section id="intro">
  <div class="center-text">
    <h5>Welcome To My Site!</h5>
    <h1>It's Nice To Meet You</h1>
  </div>
</section>

<%= render('static_pages/time-line') %>

<section id="contact">
  <div class="contact-section">
    <div class="container text-center">
      <h2>Contact Me</h2>
      <p>Feel free to shout me a message by filling out the contact form.</p>
      <div class="row">
        <%= render('static_pages/form') %>
        <hr>
      </div>
    </div>
  </div>
</section>
