<div class="col-md-12 page-body margin-top-50 footer">
  <footer>
    <ul class="menu-link">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Home', root_path %></li>
    </ul>

    <p>© Copyright 20176 Kevin Finley. All rights reserved</p>
  </footer>
</div>
