<section id="contact">
  <div class="contact-section">
    <div class="container text-center">
      <br>
      <h2>Contact Me</h2>
      <p>Feel free to shout me a message by filling out the contact form.</p>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <%= render('contacts/form') %>
        </div>

        <div class="col-lg-6 col-sm-12">
          <br>
          <h3>Email</h3>
          <p>kftwotwo@gmail.com</p><br>
          <h3>Phone</h3>
          <p>(541)-508-6597</p><br>
          <h3>My Social Sites</h3>
          <div id="even-pad" class="col-lg-12">
            <a href="https://twitter.com/kftwotwo" target="_blank" class="btn btn-outline-info"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a>
            <a href="https://github.com/kftwotwo" target="_blank" class="btn btn-outline-secondary"><i class="fa fa-github"> <span class="network-name">GitHub</span></i></a>
          </div>

          <div class="col-lg-12">
            <a href="https://www.linkedin.com/in/kftwotwo/" target="_blank" class="btn btn-outline-primary"><i class="fa fa-linkedin-square"> <span class="network-name">Linkedin</span></i></a>
            <a href="https://kftwotwo.github.io" target="_blank" class="btn btn-outline-primary"><span class="network-name">KevBlog</span></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <a href="https://github.com/kftwotwo/new-portfolio" target="_blank" class="white-text">Resource</a>
  </div>
</section>
