<section id="timeline">
  <div class="tl-item">
    <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
    <div class="tl-year">
      <p class="f2 heading--sanSerif">2012-2014</p>
    </div>

    <div class="tl-content">
      <h1>Milligans IGA</h1>
      <p>Milligans IGA was a small town grocery store in Absarokee Montana. This was my first real job previously I was a ranch hand. I rode my bike for 12 miles each day to work until I was able to afford a vehicle. I learned how to stock shelves and perform customer care for the elderly. This job helped me network. People would ask me to lend them a extra hand or odd jobs.</p>
    </div>
  </div>

  <div class="tl-item">
    <div class="tl-bg" style="background-image: url(https://dl.dropboxusercontent.com/s/pkjtkrejsosxk1z/welding.jpeg?dl=0)"></div>
    <div class="tl-year">
      <p class="f2 heading--sanSerif">2013-2016</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">Infinite Machine Inc.</h1>
      <p>Infinite Machine was an industrial grade welding and fabricating facility that specialized in heavy equipment for local mines. While I was working at Milligans IGA I got a part time job offer to learn how to weld. Later that year I gave my two week notice at Milligans IGA because Infinite Machine offered me a full-time job in the summer. When I was there I was responsible for fabricating combine bins, underground mining equipment, and repairing all heavy machinery from the mines.</p>
    </div>
  </div>

  <div class="tl-item">
    <div class="tl-bg" style="background-image: url(https://dl.dropboxusercontent.com/s/30efgs0hfswyqbi/plymale.png?dl=0"></div>
    <div class="tl-year">
      <p class="f2 heading--sanSerif">2016</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">Plymale Auto Repair</h1>
      <p>Plymale was a general automotive repair shop in Absarokee Montana. When the welding shop was slow I would drive over to Plymales shop to learn more about in automotive industry. I learned how to performed general automotive to include engine, transmission, and wire harness repairs. Since I have a welding background I was responsible for welding custom fabrications on light size to commercial size automobiles.</p>
    </div>
  </div>

  <div class="tl-item">
    <div class="tl-bg" style="background-image: url(https://placeimg.com/800/800/nature)"></div>
    <div class="tl-year">
      <p class="f2 heading--sanSerif">2017</p>
    </div>

    <div class="tl-content">
      <h1 class="f3 text--accent ttu">InboundRX</h1>
      <p>InboundRX is a marketing company specializing in pharmacies. I applied as a Intern from Epicodus. While I was there I learned how to write better tests. I helped contributed to two projects. I helped architecture planning for the automation project management application. The first application is an automation project management, I helped by writing tests, fixing bugs, and refactoring. The second app is perimeter based sales tool where I helped write BDD tests, fixed bugs. I also implemented pair-programing with the lead developer.</p>
    </div>
  </div>
</section>
